body{
  font-family: Arial;
  max-width: 500px;
  margin: auto;
  text-align: center;
}
button{
  margin: 5px;
  padding: 5px 10px;
}
#productos div{
  margin-bottom: 10px;
}
#historial{
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
}